<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>javaServlet</servlet-name>
        <servlet-class>novoselac.JavaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>javaServlet</servlet-name>
        <url-pattern>/javaServlet</url-pattern>
    </servlet-mapping>
    
    
     <!-- Definicija za BrisiUslugu -->
    <servlet>
        <servlet-name>brisiUslugu</servlet-name>
        <servlet-class>novoselac.BrisiUslugu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>brisiUslugu</servlet-name>
        <url-pattern>/brisiUslugu</url-pattern>
    </servlet-mapping>
    
       <!-- Definicija za BrisiDjelatnika -->
    <servlet>
        <servlet-name>brisiDjelatnika</servlet-name>
        <servlet-class>novoselac.BrisiDjelatnika</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>brisiDjelatnika</servlet-name>
        <url-pattern>/brisiDjelatnika</url-pattern>
    </servlet-mapping>
    
      <!-- Definicija za izbornik djelatnici -->
    <servlet>
    <servlet-name>javaServletDjelatnici</servlet-name>
    <servlet-class>novoselac.JavaServletDjelatnici</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>javaServletDjelatnici</servlet-name>
    <url-pattern>/javaServletDjelatnici</url-pattern>
</servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
